<h1>Listing installplaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Postcode</th>
      <th>Address</th>
      <th>Phone no</th>
      <th>Destination name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @installplaces.each do |installplace| %>
      <tr>
        <td><%= installplace.name %></td>
        <td><%= installplace.postcode %></td>
        <td><%= installplace.address %></td>
        <td><%= installplace.phone_no %></td>
        <td><%= installplace.destination_name %></td>
        <td><%= link_to 'Show', installplace %></td>
        <td><%= link_to 'Edit', edit_installplace_path(installplace) %></td>
        <td><%= link_to 'Destroy', installplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Installplace', new_installplace_path %>
